<h2>Lastest Listings:</h2>

<div id="grid">
    <% for (let release of releases) { %>
    <a href="/release/<%= release.id %>"><div class="card">
        <img src="<%= release.album_art %>">
        <div class="info">
            <h3><%= release.title %></h2>
            <h4><%= release.artist %></h3>
            <h4><%= release.catalog_number %></h4>
        </div>
    </div></a>
    <% } %>
</div>

<link rel="stylesheet" href="/css/home.css">