<h2><%= release.title %></h2>
<h3><%= release.artist %></h3>
<h4><%= release.genre %></h4>
<h5><%= release.catalog_number %></h5>

<% if (isLoggedIn()) { %>
<a href="/release/<%= release.id %>/edit">Edit</a>
<form action="/release/<%= release.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
</form>
<% } %>