<main>
    <div id="release">
        <img src="<%= release.album_art %>" alt="">
        <h3><%= release.title %> - <a href="/artist/<%= release.artist %>"><%= release.artist %></a></h3>
        <% if (release.genre) { %><h4>Genre: <%= release.genre %></h4><% } %>
        <h4>Catalog #: <%= release.catalog_number %></h5>
        <% if (isLoggedIn()) { %>
        <a href="/release/<%= release.id %>/edit">Edit</a>
        <form action="/release/<%= release.id %>?_method=DELETE" method="post">
            <!-- <input type="hidden" name="_method" value="delete"> -->
            <button>Delete</button>
        </form>
        <% } %>
    </div>
    <div id="listings">
        <h2>Listings:</h2>
        <% if (listings.length === 0) { %>
        <p>No Listings</p>
        <a href="/listing/new">Add One!</a>
        <% } %>        
        <% for (let listing of listings) { %>
        <a href="/user/<%= listing.user_id %>"><div class="listing">
            <p><%= listing.username %><% if (listing.location) { %> | <%= listing.location %><% } %> | <%= listing.price %> | <%= listing.condition %><% if (listing.info) { %> | <%= listing.info %><% } %></p>
        </div></a>
        <% } %>
    </div>
</main>

<link rel="stylesheet" href="/css/release.css">